<div class="wrapper">
<div class="container login-container" *ngIf="!studentData">
  <form class="login-form" (ngSubmit)="login()">
    <h2>Student Login</h2>
    <div>
      <label for="rollno">Roll No:</label>
      <input type="text" id="rollno" name="rollno" [(ngModel)]="rollno" required />
    </div>
    <div>
      <label for="dateofbirth">DOB:</label>
      <input
        type="text"
        id="dateofbirth"
        name="dateofbirth"
        placeholder="dd-mm-yyyy"
        [(ngModel)]="dateofbirth"
        required
      />
    </div>
    <div>
      <button class="login-button" type="submit">Login</button>
      <button class="back-button" (click)="goBack()">Back</button>
    </div>
    <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
  </form>
</div>

<div class="container student-details" *ngIf="studentData">
  <h2>Student Details</h2>
  <p><strong>Roll No:</strong> {{ studentData.data.rollno }}</p>
  <p><strong>Date of Birth:</strong> {{ studentData.data.dateofbirth }}</p>
  <p><strong>Name:</strong> {{ studentData.data.name }}</p>
  <p><strong>Score:</strong> {{ studentData.data.score }}</p>
  <button class="back-button" (click)="goBack()">Back</button>
</div>

</div>